{% extends 'base.html.twig' %}
    {% block title %}Camarero{% endblock %}
    {% block stylesheets %}

    {% endblock %}
{% block body %}
    <h3>Cuenta</h3>
    <br>
    {% for comanda in comandas %}
        Comanda {{ comanda.id }}:
        <br>
        {% for producto in comanda.productos %}
            {{ producto.nombre }}  {{ producto.precio }}€
            <br>
        {% endfor %}
        Total Comanda: {{ comanda.precio }}€
        <br>
        <br>
    {% endfor %}
    Total Mesa: {{ cuentatotal }}€

{% endblock %}