{% extends 'base.html.twig' %}
{% block title %}Indice{% endblock %}
 {% block stylesheets %}
<style>
    a{color: #ffa500; font-family: Ebrima;}
    h4{ font-family: Ebrima; font-size: 1.5em;}
    .jumbotron{height: 45%; background-image: url("/images/imgindice5.jpg"); background-repeat: no-repeat; background-size: 100% 100%; height: 60%;}
    #aa{float: right;}
</style>

 {% endblock %}



{% block body %}
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">OPCIONES</h4>
                <span class="text-muted"><a href="{{ path('app_cocina') }}" aria-pressed="true">Cocina</a></span>&nbsp;&nbsp;&nbsp;
                <span class="text-muted"><a href="{{ path('app_camarero') }}" aria-pressed="true">Camarero</a></span>
                <span class="text-muted"><a href="{{ path('app_inicio') }}" aria-pressed="true" id="aa">Salir</a></span>

            </div>
        </div>

        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <div class="jumbotron">

    </div>





    <a href="{{ path('app_camarero') }}" class="btn btn-dark btn-lg btn-block" role="button" aria-pressed="true">CAMARERO</a><br>
    <a href="{{ path('app_cocina') }}" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">COCINA</a><br>

{% endblock %}