{% extends 'base.html.twig' %}
{% block refresh %}
    <meta http-equiv="refresh" content="10" >
{% endblock %}
{% block title %}lista{% endblock %}
{% block stylesheets %}
    <style>
        h2{text-align: center; color: #ffa500; font-weight: bold;}
        body{background-color:whitesmoke;}
        a{color: #ffa500; font-family: Ebrima;}
        h4{font-family: Ebrima;}
    </style>
{% endblock %}
    {% block body %}
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h4 class="text-white">OPCIONES</h4>
                    <span class="text-muted"><a href="{{ path('app_cocina') }}" aria-pressed="">Cocina</a></span>&nbsp;&nbsp;&nbsp;
                    <span class="text-muted"><a href="{{ path('app_camarero') }}" aria-pressed="">Volver</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-muted"><a href="{{ path('app_inicio') }}" aria-pressed="">Salir</a></span>

                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
        <br><h2>LISTA PEDIDOS</h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead">
                <tr>
                    <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mesa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col">Pedidos</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado</th>
                    <th scope="col">            </th>
                </tr>
                </thead>
                <tbody>
                {% for comanda in comandas %}
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comanda.mesa.numero }}</th>
                        <td>{% for com in comanda.productos %}
                                · {{com}}
                            {% endfor %}</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ comanda.estado }}</td>
                        <td><a href="{{ path('app_borra', {'id':comanda.id}) }}" class="btn btn-dark  btn-block" role="button" aria-pressed="true">ELIMINAR</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <br><br>

        </div>
    {% endblock %}